{{> styles}}
 <div class="container">
    {{#hasFilterGroup}}
    <div class="dropdown">
    <button class="btn btn-block btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">Filter by
    <span class="caret"></span></button>
    <ul class="dropdown-menu" style="width: 100%;">
      {{#getFilterGroup}}
        <li class="text-center"><a href="#" onclick="event.preventDefault();" data-value="{{key}}">{{val}}</a></li>
      {{/getFilterGroup}}
      <li class="text-center"><a href="#" onclick="event.preventDefault();" data-value="all">ALL</a></li>
    </ul>
    </div>
    {{/hasFilterGroup}}
   
   {{getData}}
  <!-- cards grid -->
  <div class="wwf60__grid-container">
    <div class="wwf60__grid">
      {{#items}}
       {{#items}}
         {{#card_settings}}

      <!-- SINGLE CARD -->
      <div class="wwf60__column" id="{{#replaceSpacewithUnderscore}}{{category_text}}{{/replaceSpacewithUnderscore}}" data-group="{{#replaceSpacewithUnderscore}}{{category_text}}{{/replaceSpacewithUnderscore}}">
        <div class="wwf60__card js-wwf60-card-{{getObjID}}" data-card-index="{{index}}">
          <div class="wwf60__card-spacer">
            <div class="wwf60__card-side wwf60__card-side--front">
              <div class="wwf60__card-inner">
                <div class="wwf60__card-image">
                  <img src="{{#getImgURL}} {{images.0}} {{/getImgURL}}" alt="Alt text" />
                </div>
                <div class="wwf60__card-content">
                  <span class="wwf60__card-label">{{front_lead}}</span>
                  <h3 class="wwf60__card-title">{{front_title}}</h3>
                  <span class="wwf60__card-label">{{front_text}}</span>
                  <div class="wwf60__card-button">
                    <button type="button" role="button" aria-label="See more" class="wwf60__button-flip js-wwf60-flip-button-{{getObjID}}">
                      <span>&nbsp;</span></button>
                  </div>
                </div>
              </div>
            </div>

            <div class="wwf60__card-side wwf60__card-side--back">
              <div class="wwf60__card-inner">
                <div class="wwf60__card-image">
                  <img src="{{#getImgURL}} {{images.1}} {{/getImgURL}}" alt="Alt text" />
                </div>
                <div class="wwf60__card-content">
                  <h3 class="wwf60__card-title">{{back_title}}</h3>
                  <span class="wwf60__card-label">{{back_lead}}</span>
                  <div class="wwf60__card-button">
                    {{#back_link}}
                    <button type="button" role="button" class="wwf60__button-expand js-wwf60-expand-button" onclick="window.location.href='{{back_link}}'">
                    {{/back_link}}
                    {{^back_link}}
                    <button type="button" role="button" tabindex="{{index}}" class="wwf60__button-expand js-wwf60-expand-button-{{getObjID}}">
                    {{/back_link}}
                      {{back_link_text}}</button>
                    <button type="button" role="button" aria-label="Back" class="wwf60__button-flip-back js-wwf60-flip-button-{{getObjID}}">
                      Back</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <script type="text/html" data-content-for="card-{{getObjID}}-{{index}}" data-identifier-for="card-{{#toLowerCase}}{{identifier}}{{/toLowerCase}}">
          <h2>{{{popup_title}}}</h2>
          <p>{{{popup_text}}} </p>
        </script>

        <script type="text/html" data-content-for="card-footer-{{getObjID}}-{{index}}" data-identifier-for="card-footer-{{#toLowerCase}}{{identifier}}{{/toLowerCase}}">
          <div class="wwf60__modal-cta wwf60__modal-cta--primary">
            {{#cta1_title}}<h2>{{cta1_title}}</h2>{{/cta1_title}}
            {{^cta1_title}}
              {{#getCTAValues}}
                <h2>{{left_cta_title}}</h2>
              {{/getCTAValues}}
            {{/cta1_title}}

            {{#cta1_text}}<p> {{cta1_text}}</p>{{/cta1_text}}
            {{^cta1_text}}
              {{#getCTAValues}}
                <p>{{left_cta_lead}}</p>
              {{/getCTAValues}}
            {{/cta1_text}}

            <a href="{{#cta1_button_link}}{{cta1_button_link}}{{/cta1_button_link}}  {{^cta1_button_link}}{{#getCTAValues}}{{left_cta_button_link}}{{/getCTAValues}}{{/cta1_button_link}}" tabindex="{{index}}" class="wwf60__cta-button">{{#cta1_button_text}}{{cta1_button_text}}{{/cta1_button_text}}  {{^cta1_button_text}}{{#getCTAValues}}{{left_cta_button_text}}{{/getCTAValues}}{{/cta1_button_text}}</a>
          </div><!-- /.wwf60 modal-cta -->
          <div class="wwf60__grid">
            <div class="wwf60__column">
              <div class="wwf60__modal-cta">
                {{#cta2_title}}<h2>{{cta2_title}}</h2>{{/cta2_title}}
                {{^cta2_title}}
                  {{#getCTAValues}}
                    <h2>{{right_cta_title}}</h2>
                  {{/getCTAValues}}
                {{/cta2_title}}

                <a href="{{#cta2_button_link}}{{cta2_button_link}}{{/cta2_button_link}} {{^cta2_button_link}}{{#getCTAValues}}{{right_cta_button_link}}{{/getCTAValues}}{{/cta2_button_link}}" tabindex="{{index}}" class="wwf60__cta-button wwf60__cta-button--black">{{#cta2_button_text}}{{cta2_button_text}}{{/cta2_button_text}}  {{^cta2_button_text}}{{#getCTAValues}}{{right_cta_button_text}}{{/getCTAValues}}{{/cta2_button_text}}</a>
              </div><!-- /.wwf60 modal-cta -->
            </div><!-- /.wwf60 column -->
            <div class="wwf60__column">
              <div class="wwf60__modal-cta">
                {{#cta3_title}}<h2>{{cta3_title}}</h2>{{/cta3_title}}
                {{#cta3_button_text}}<a href="{{cta3_button_link}}" tabindex="{{index}}" class="wwf60__cta-button wwf60__cta-button--black js-wwf60-dismiss-modal" title="See more stories">{{cta3_button_text}}</a>{{/cta3_button_text}}
              </div><!-- /.wwf60 modal-cta -->
            </div><!-- /.wwf60 column -->
          </div><!-- /.wwf60 grid -->
        </script>
        
      </div>
      <!-- END SINGLE CARD -->

        {{/card_settings}}

       {{/items}}
      {{/items}}
    </div><!-- /.wwf60 grid -->
    <div class="wwf60__load-more-holder">
      <button type="button" role="button" tabindex="0" class="wwf60__load-more-button wwf60__load-more-button--hidden js-wwf60-load-more-{{getObjID}}">
        Load more stories...</button>
      <button type="button" role="button" tabindex="0" class="wwf60__load-more-button wwf60__load-more-button--hidden group-load-more-{{getObjID}}">
        Load more stories...</button>
    </div>
  </div><!-- /.wwf60 container -->
  {{#items}}
    {{#items}}
        {{#cta_settings}}
        <!-- calls to action -->
        <div class="wwf60__container">
          <div class="wwf60__grid">
            <div class="wwf60__column">
              <div class="wwf60__cta">
                <h2>{{left_cta_title}}</h2>
                <p>{{left_cta_lead}}</p>
                <a href="{{left_cta_button_link}}" class="wwf60__cta-button">
                  {{left_cta_button_text}}</a>
              </div><!-- /.wwf60 cta -->
            </div><!-- /.wwf60 column -->
            <div class="wwf60__column">
              <div class="wwf60__cta">
                <h2>{{right_cta_title}}</h2>
                <p>{{right_cta_lead}}</p>
                <a href="{{right_cta_button_link}}" style="color: #fff;" class="wwf60__cta-button wwf60__cta-button--black">
                  {{right_cta_button_text}}</a>
              </div><!-- /.wwf60 cta -->
            </div>
          </div>
        </div><!-- /.wwf60__container -->
        <!-- end calls to action -->
        {{/cta_settings}}

        <!--  modal -->
        <div class="wwf60__modal wwf60__modal--inactive js-wwf60-modal" tabindex="0">
          <button role="button" tabindex="-1" type="button" title="Close story" class="wwf60__modal-close js-wwf60-dismiss-modal"></button>
          <div class="wwf60__modal-container">
            <div class="wwf60__modal-brand"><img src="https://explore.panda.org/hs-fs/hubfs/WWF_Logo_RGB_100x88.89_small.png?width=90&name=WWF_Logo_RGB_100x88.89_small.png" alt="WWF logo" /></div>
            <div class="wwf60__modal-content">
              <div class="wwf60__content-wrapper js-wwf60-modal-content-container">
              </div>
              
              <div class="wwf60__modal-footer">
              </div><!-- /.wwf60 modal-footer -->
            </div><!-- /.wwf60 modal content -->
          </div><!-- /.wwf60 modal-container -->
        </div><!-- /.wwf60 modal -->
        <div class="wwf60__modal-backdrop wwf60__modal-backdrop--inactive js-wwf60-modal-backdrop js-wwf60-dismiss-modal"></div>
        <!--  end modal -->
    {{/items}}
  {{/items}}
</div>
<script>
{{> javascripts}}
</script>

